<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <h1><%= title %></h1>
        <% messages.forEach(msg => { %>
            <h3> <%= msg.user %> </h3>
            <p> <%= msg.text %> </p>
            <p> <%= msg.added.toLocaleString() %></p>
            <a href="/<%= msg.id %>">
                <button type="button">Open</button>
              </a>
       <% }) %>
    <a href="/new" style="
        display: block;
        margin-top: 20px;">
        <button>Create a post</button>
    </a>
</body>
</html>