<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>

  <h2><%= message.user %></h2>
  <p><%= message.text %></p>
  <p><em>Posted on: <%= message.added.toLocaleString() %></em></p>

  <p><a href="/">← Back to Home</a></p>
</body>
</html>
